/* Tweak the form */
#loginform {
	padding-bottom: 30px;
}

/* Hide specific elements */
#loginform p {
	display: none !important;
	visibility: hidden !important;
}

/* When wanting to login through WordPress, change it up */
#loginform.login-through-wp p {
	display: block !important;
	visibility: visible !important;
}

/* Style the "login with" buttons on the login form */
.wp-core-ui .ua-mybama-cas-auth-login-through-button {
	display: block;
	float: none;
	clear: both;
	width: 100%;
	text-align: center;
	margin: 0;
}

.wp-core-ui .ua-mybama-cas-auth-login-through-button.button-primary {
	background: #900;
	color: #fff;
	border: 0;
	font-weight: bold;
	height: auto;
	line-height: 1;
	padding: 12px;
}

.wp-core-ui .ua-mybama-cas-auth-login-through-button.button-primary:hover {
	background: #750000;
	color: #fff;
}

.ua-mybama-cas-auth-login-through-button + .ua-mybama-cas-auth-login-through-button {
	margin-top: 10px !important;
}

#ua-mybama-cas-auth-login-through-wp-nav {
	display: block;
	margin: 5px 0 0 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 105%;
}